@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.99);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  @include globalWrapper;

  @media (max-width: 1260px) {
    max-width: 90%;
  }
}

.page {
  @include globalWrapper;

  padding-top: 32px;

  @media (max-width: 1260px) {
    max-width: 90%;
  }
}

.nuxt-link-exact-active {
  color: $black-color !important;
  text-decoration: underline !important;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(26, 26, 26, 0.2);
  border-right: 1.1em solid rgba(26, 26, 26, 0.2);
  border-bottom: 1.1em solid rgba(26, 26, 26, 0.2);
  border-left: 1.1em solid #1a1a1a;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
