$gray-color: #59606d;
$grey-color: #59606d;

$black-color: #1f1f1f;

$white-color: #ffffff;

$grey-light-color: #959dad;

$yellow-color: #f2c94c;

$red-color: #e81c1c;

$grey-extra-light-color: #f8f8f8;
